{% extends 'layout.twig' %}

{% block body %}

    <div class="flex flex-col items-center bg-gray-100 py-10">
        <h1 class="text-2xl font-bold mb-4">Votre coffret</h1>
        <div class="w-full mb-8">
            {% if cartService.cart() %}
                <ul class="space-y-4 px-8">
                    {% set prestationsCount = {} %}
                    {% for prestation in cartService.cart().prestations().get() %}
                        {% set prestationsCount = prestationsCount|merge({(prestation.id): {"libelle": prestation.libelle, "quantite": (prestationsCount[prestation.id].quantite|default(0)) + prestation.pivot.quantite, "tarif": prestation.tarif, "img": prestation.img}}) %}
                    {% endfor %}
                    {% for id, details in prestationsCount %}
                        <li class="flex items-center border-b pb-2">
                            <img src="/img/{{ details.img }}" alt="{{ details.libelle }}" class="w-12 h-12 object-cover rounded mr-4">
                            <div class="flex flex-col flex-grow">
                                <span class="font-bold">{{ details.libelle }}</span>
                                <span class="text-gray-600">Quantité : {{ details.quantite }}</span>
                                <span class="text-gray-600">Prix : {{ details.tarif * details.quantite }}</span>
                            </div>
                            <a href="{{ url_for('remove_prestation_from_box', {'box_id': box_id, 'presta_id': id }) }}" class="ml-auto text-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun coffret</p>
            {% endif %}
        </div>
        <div class="flex justify-end items-center mb-8">
            <button class="bg-green-500 text-white font-bold py-2 px-6 rounded-lg hover:bg-green-600 focus:outline-none">
                Créer un coffret
            </button>
        </div>
        <h2 class="text-xl font-bold mb-4">Coffrets prédéfinis</h2>
        <div id="splide" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="/img/box1.jpg" alt="Panier 1">
                    </li>
                    <li class="splide__slide">
                        <img src="/img/box2.jpg" alt="Panier 2">
                    </li>
                    <li class="splide__slide">
                        <img src="/img/box3.png" alt="Panier 3">
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
