{% extends 'layout.twig' %}

{% block body %}

    <div class="flex flex-col items-center bg-gray-100 py-10">
        <h1 class="text-2xl font-bold mb-4">Votre coffret</h1>
        <div class="w-full mb-8">
            {% set cart = cartService.getFormattedCart() %}
            {% if cart %}
                {% if cartService.isPaid() %}
                    <p class="text-green-600 text-xl font-weight-bold">Cette boîte est payée.</p>
                {% else %}
                <ul class="space-y-4 px-8">
                    {% for id, details in cart.prestations %}
                        <li class="flex items-center border-b pb-2">
                            <img src="/img/{{ details.img }}" alt="{{ details.libelle }}" class="w-12 h-12 object-cover rounded mr-4">
                            <div class="flex flex-col flex-grow">
                                <span class="font-bold">{{ details.libelle }}</span>
                                <span class="text-gray-600">Quantité : {{ details.quantite }}</span>
                                <span class="text-gray-600">Prix : {{ details.total | number_format(2) }} €</span>
                            </div>
                            <form action="{{ url_for('remove_prestation_from_box', {'id': cartService.cart().id, 'prestationId': id }) }}" method="post" class="inline">
                                <button type="submit" class="ml-auto text-red-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                </button>
                            </form>
                            <form action="{{ url_for('update_prestation_quantity_in_box', {'id': cartService.cart().id, 'prestationId': id }) }}" method="post" class="inline">
                                <input type="number" name="quantity" min="1" value="{{ details.quantite }}" class="form-input">
                                <button type="submit" class="ml-2">Mettre à jour</button>
                            </form>

                        </li>
                    {% endfor %}
                </ul>
                <p class="text-gray-600 text-xl font-weight-bold text-right pr-5">Total : {{ cart.totalPrice | number_format(2) }} €</p>
                <form action="{{ url_for('payer', {'id': cartService.cart().id}) }}" method="post" class="inline">
                    <button type="submit" class="bg-green-500 text-white font-bold py-2 px-6 rounded-lg hover:bg-green-600 focus:outline-none">
                        Payer
                    </button>
                </form>
                    {% endif %}
            {% else %}
                <p>Aucun coffret</p>
            {% endif %}
        </div>
        <div class="flex justify-end items-center mb-8">
            <a href="{{ url_for("box_creation") }}" class="bg-green-500 text-white font-bold py-2 px-6 rounded-lg hover:bg-green-600 focus:outline-none">
                Créer un coffret
            </a>
        </div>
        <h2 class="text-xl font-bold mb-4">Coffrets prédéfinis</h2>
        <div id="splide" class="splide text-center w-1/2">
            <div class="splide__track text-center">
                <ul class="splide__list">
                    <li class="splide__slide flex items-center justify-center flex-col">
                        <a href="/boxes/360bb4cc-e092-3f00-9eae-774053730cb2">
                            <img src="/img/box1.jpg" alt="Panier 1">
                            <h2 class="text-xl font-semibold pt-3">Panier européen</h2>
                        </a>
                    </li>
                    <li class="splide__slide flex items-center justify-center flex-col">
                        <a href="/boxes/360bb4cc-e092-3f00-9eae-774053730cb2">
                            <img src="/img/box2.jpg" alt="Panier 2">
                            <h2 class="text-xl font-semibold pt-3">Panier romantique</h2>
                        </a>
                    </li>
                    <li class="splide__slide flex items-center justify-center flex-col">
                        <a href="/boxes/360bb4cc-e092-3f00-9eae-774053730cb2">
                            <img src="/img/box3.png" alt="Panier 3">
                            <h2 class="text-xl font-semibold pt-3">Panier gourmand</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
