{% extends 'layout.twig' %}

{% block body %}

    <div class="flex justify-center mt-20">
        <div class="max-w-3xl">
            <div class="bg-gray-200 rounded-lg p-8">
                <h2 class="text-2xl font-bold text-center mb-4">{{ categorie.libelle }}</h2>
                <ul class="border-t-2 border-black-300">
                    {% for prestation in prestations %}
                        <li class="flex items-center py-4 px-4 hover:bg-gray-100 transition duration-300 ease-in-out">
                            <a href="{{ url_for('prestation', {'id': prestation.id}) }}" class="flex items-center">
                                <img src="/img/{{ prestation.img }}" alt="{{ prestation.description }}" class="w-16 h-16 mr-4">
                                <div>
                                    <h3 class="text-lg font-bold">{{ prestation.libelle }}</h3>
                                    <p class="text-gray-700">{{ prestation.description }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
