{% extends 'layout.twig' %}

{% block body %}
    <div class="prestation">
        <h2>{{ prestation.description }}</h2>
        <p>Unité : {{ prestation.unite }}</p>
        <p>Tarif : {{ prestation.tarif }}€</p>
        <img src="/img/{{ prestation.img }}" alt="{{ prestation.description }}">
    </div>

    <a href="{{ url_for('append_service_to') }}?id={{ prestation.id }}" class="p-2 mt-5 bg-gray-400 text-white font-semibold">Ajouter la prestation au coffret</a>
    <a href="{{ url_for('prestations') }}?id={{ prestation.cat_id }}" class="p-2 mt-5 bg-blue-400 text-white font-semibold">Retour aux prestations</a>

{% endblock %}

